@font-face {
    font-family: 'Intro';
    src: local('Intro'), local('Intro'), url('/fonts/Intro.woff2') format('woff2'), url('/fonts/Intro.woff') format('woff'), url('/fonts/Intro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bitter';
    src: local('Bitter'), local('Bitter'), url('/fonts/Bitter.woff2') format('woff2'), url('/fonts/Bitter.woff') format('woff'), url('/fonts/Bitter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Intro', arial;
    letter-spacing: 1px;
}

*::selection {
    background: #ffc800;
    color: #fff;
}

body {
    margin: 0 auto;
    line-height: 1.5;
	overflow-y: scroll;
}

.background__on {
    background: url("/img/header.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

main {
    overflow-x: hidden;
}

a {
    color: #000;
    text-decoration: none;
}

p {
    color: #000;
}

b, strong {
    font-weight: normal;
}


button {
    cursor: pointer;
}

.cyrillic {
    list-style: none;
}

.cyrillic li:nth-child(1)::before { content: '\0430\0029\0020'; }
.cyrillic li:nth-child(2)::before { content: '\0431\0029\0020'; }
.cyrillic li:nth-child(3)::before { content: '\0432\0029\0020'; }
.cyrillic li:nth-child(4)::before { content: '\0433\0029\0020'; }
.cyrillic li:nth-child(5)::before { content: '\0434\0029\0020'; }
.cyrillic li:nth-child(6)::before { content: '\0438\0029\0020'; }
.cyrillic li:nth-child(7)::before { content: '\043A\0029\0020'; }
.cyrillic li:nth-child(8)::before { content: '\043B\0029\0020'; }

.helpful .spoiler-body li { list-style-type: none; } /* Убираем исходную нумерацию */
.helpful .spoiler-body ol { counter-reset: list1; } /* Инициируем счетчик */
.helpful .spoiler-body ol li:before {
    counter-increment: list1; /* Увеличиваем значение счетчика */
    content: counter(list1) ". "; /* Выводим значение */
}
.helpful .spoiler-body ol ol { counter-reset: list2; } /* Инициируем счетчик вложенного списка */
.helpful .spoiler-body ol ol li:before {
    counter-increment: list2; /* Увеличиваем значение счетчика */
    content: counter(list1) "." counter(list2) ". "; /* Выводим значение типа 2.1, 2.2,... */
}

.helpful .spoiler-body ol ol ol { counter-reset: list3; } /* Инициируем счетчик вложенного списка */
.helpful .spoiler-body ol ol ol li:before {
    counter-increment: list3; /* Увеличиваем значение счетчика */
    content: counter(list1) "." counter(list2) "." counter(list3) ". "; /* Выводим значение типа 2.1, 2.2,... */
}

.helpful .spoiler-body ol ol ol ol { counter-reset: list4; } /* Инициируем счетчик вложенного списка */
.helpful .spoiler-body ol ol ol ol li:before {
    counter-increment: list4; /* Увеличиваем значение счетчика */
    content: counter(list1) "." counter(list2) "." counter(list3) "." counter(list4) ". "; /* Выводим значение типа 2.1, 2.2,... */
}

.important {
    color: #f70;
}

.center {
    text-align: center;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

.rounded {
    border-radius: 100%;
}


/* Main */

.main {
    display: flex;
    min-height: 100vh;
    z-index: 1;
}

/* Navigation */

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 20%;
    min-height: 100vh;
    text-align: center;
}

.white.navigation {
    background: #fff;
}

.black.navigation {
    background: #1a1a1a;
}

.black.navigation p, .black.navigation h1, .black .navigation__menu a {
    color: #fff;
}

.white .navigation__header {
    border-bottom: 1px solid #1a1a1a;
}

.black .navigation__header {
    border-bottom: 1px solid #fff;
}

.navigation__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex-grow: 1;
    margin-top: 10vh;
}

.navigation__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: center;
    width: 100%;
    padding: 0;
}

.navigation__menu li {
    justify-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    list-style: none;
}

.navigation__menu a {
    display: flex;
    align-items: center;
    font-size: 20px;
    position: relative;
    padding-left: 20%;
}

.navigation__menu a:hover {
    color: #ffc800;
}

.navigation__news::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    line-height: normal;
    background: url("/img/menu.png");
    margin-right: 5px;
}

.white .navigation__news::before {
    background-position: 0 0;
}

.black .navigation__news::before {
    background-position: 0 -48px;
}

.navigation__news:hover::before {
    background-position: 0 -24px;
}

/*.active:hover::before {*/
    /*background-position: 0 -24px;*/
/*}*/

.active::after  {
    position: absolute;
    right: 0;
    top: 50%;
    margin: -12px 0 0 0;
    content: '';
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.white .active::after  {
    border-right: 12px solid #000;
}

.black .active::after  {
    border-right: 12px solid #fff;
}

.navigation__homeowners::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("/img/menu.png");
    margin-right: 5px;
}

.white .navigation__homeowners::before {
    background-position: -24px 0;
}

.black .navigation__homeowners::before {
    background-position: -24px -48px;
}

.navigation__homeowners:hover::before {
    background-position: -24px -24px;
}

.navigation__services::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("/img/menu.png");
    margin-right: 5px;
}

.white .navigation__services::before {
    background-position: -72px 0;
}

.black .navigation__services::before {
    background-position: -72px -48px;
}

.navigation__services:hover::before {
    background-position: -72px -24px;
}

.navigation__manual::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    line-height: normal;
    background: url("/img/menu.png");
    margin-right: 5px;
}

.white .navigation__manual::before {
    background-position: -48px 0;
}

.black .navigation__manual::before {
    background-position: -48px -48px;
}

.navigation__manual:hover::before {
    background-position: -48px -24px;
}

.navigation__counters::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    line-height: normal;
    background: url("/img/menu.png");
    margin-right: 5px;
}

.white .navigation__counters::before {
    background-position: -72px 0;
}

.black .navigation__counters::before {
    background-position: -72px -48px;
}

.navigation__counters:hover::before {
    background-position: -72px -24px;
}

.navigation__payment::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    line-height: normal;
    background: url("/img/menu.png");
    margin-right: 5px;
}

.white .navigation__payment::before {
    background-position: -96px 0;
}

.black .navigation__payment::before {
    background-position: -96px -48px;
}

.navigation__payment:hover::before {
    background-position: -96px -24px;
}

.navigation__rate::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    line-height: normal;
    background: url("/img/menu.png");
    margin-right: 5px;
}

.white .navigation__rate::before {
    background-position: -120px 0;
}

.black .navigation__rate::before {
    background-position: -120px -48px;
}

.navigation__rate:hover::before {
    background-position: -120px -24px;
}

.navigation__report:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    line-height: normal;
    background: url("/img/menu.png");
    margin-right: 5px;
}

.white .navigation__report::before {
    background-position: -144px 0;
}

.black .navigation__report::before {
    background-position: -144px -48px;
}

.navigation__report:hover::before {
    background-position: -144px -24px;
}

.navigation__helpful::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    line-height: normal;
    background: url("/img/menu.png");
    margin-right: 5px;
}

.white .navigation__helpful::before {
    background-position: -120px 0;
}

.black .navigation__helpful::before {
    background-position: -120px -48px;
}

.navigation__helpful:hover::before {
    background-position: -120px -24px;
}

.navigation__gallery::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    line-height: normal;
    background: url("/img/menu.png");
    margin-right: 5px;
}

.white .navigation__gallery::before {
    background-position: -168px 0;
}

.black .navigation__gallery::before {
    background-position: -168px -48px;
}

.navigation__gallery:hover::before {
    background-position: -168px -24px;
}

.navigation__logo {
    line-height: 0;
}

.navigation__logo img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/*.navigation__list {*/
/*display: flex;*/
/*padding: 0;*/
/*}*/



/*.navigation__list li a {*/
/*padding: 5px;*/
/*font-size: 18px;*/
/*text-decoration: none;*/
/*border: 2px solid transparent;*/
/*margin: 5px;*/
/*}*/

/*.navigation__list li a:hover {*/
/*color: #555;*/
/*border: 2px solid #555;*/
/*border-radius: 30px;*/
/*}*/

.navigation__phone {
    color: #555;
    border: 2px solid #555 !important;
    border-radius: 30px;
}

.navigation__phone:hover {
    opacity: 0.5;
}

.navigation__phone-mobile {
    display: none;
}

.navigation__phone-mobile:hover {
    border-bottom: none !important;
}

.navigation__phone-mobile img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* Primary */

.primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
    min-height: 100vh;
}

.primary__clear {
    flex-basis: 85vh;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.primary__footer {
    flex-basis: 15vh;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background: #1A1A1A;
    color: #fff;
}

.primary__footer p {
    color: #fff;
}

.primary__header, .primary__news {
    flex-basis: 40%;
}

.primary__header span, .primary__header p, .primary__header h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: normal;
}

.primary__header span, .primary__header p {
    font-family: 'Bitter', Arial;
}

.primary__news span, .primary__news p, .primary__news h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: normal;
}

.primary__news span, .primary__news p {
    font-family: 'Bitter', Arial;
}

.primary__news span {
    font-size: 12px;
    color: lightgray;
}

.primary__news h3 {
    font-size: 20px;
}

.primary__news h3:hover {
    color: #ffc800;
}

.primary__news p {
    font-size: 14px;
}

/* News */

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
    min-height: 100vh;
}

.news__block{
    flex-basis: 100vh;
    width: 60%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

.news__block h1 {
    font-size: 40px;
    margin-top: 40px;
    border-bottom: 2px solid #555;
}

.news__block h2 {
    margin-top: 10px;
}

.news__block h2:hover {
    cursor: unset;
}

.news__h2:hover {
    color: #ffc800;
    cursor: pointer;
}

.news__block p {
    font-size: 16px;
    font-family: 'Bitter', arial;
}

.news__block a:not(.pdf-link) .news__block a:not(.news__back) {
    font-family: 'Bitter', Arial;
    font-weight: bolder;
}

/*.news__block p:first-of-type {*/
    /*font-style: italic;*/
/*}*/

.news__item {
    margin-top: 0vh;
}

.news__pagination {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.news__button {
    width: 42px;
    height: 42px;
    display: inline-block;
    padding: 0 0;
    background-image: url(/img/pagination.png);
    background-repeat: no-repeat;
    background-size: 72px 72px;
    border: 3px solid #ffc800;
    line-height: 36px;
    box-sizing: border-box;
}

.news__button--preview {
    background-position: left top;
}

.news__button--preview:hover {
    background-color: #ffc800;
    background-position: left bottom;
}

.news__button--next {
    background-position: right top;
}

.news__button--next:hover {
    background-color: #ffc800;
    background-position: right bottom;
}

.news__button--disabled {
    filter: grayscale(100%);
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.news__button--preview.news__button--disabled:hover {
    background-position: left top;
    background-color: transparent;
}

.news__button--next.news__button--disabled:hover {
    background-position: right top;
    background-color: transparent;

}

.news__back {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 36px;
    background: #fff;
    color: #000;
    border: 3px solid #000;
    text-transform: uppercase;
    line-height: 36px;
    outline: none;
}

.news__link-container {
    display: flex;
    justify-content: center;
}

.news__back:hover {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 36px;
    background: #ffc800;
    color: #fff;
    border: 3px solid #ffc800;
    text-transform: uppercase;
    line-height: 36px;
    outline: none;
}

/* Homeowners */

.homeowners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
    min-height: 100vh;
}

.homeowners__block{
    flex-basis: 100vh;
    width: 60%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

.homeowners__block h1 {
    font-size: 40px;
    margin-top: 40px;
    border-bottom: 2px solid #555;
}

.homeowners__block h2 {
    margin-top: 10px;
}

.homeowners__block p {
    font-size: 16px;
    font-family: 'Bitter', arial;
    margin-top: 0;
}

/*.homeowners__block p:first-of-type {*/
    /*font-style: italic;*/
/*}*/

.homeowners__block a {
    font-family: 'Bitter', Arial;
    font-weight: bolder;
}

.homeowners__item {
    margin-top: 0vh;
}

.homeowners li {
    font-family: 'Bitter', arial;
}

/* Services */

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
    min-height: 100vh;
}

.services__block{
    flex-basis: 100vh;
    width: 60%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

.services__block h1 {
    font-size: 40px;
    margin-top: 40px;
    border-bottom: 2px solid #555;
}

.services__block h2 {
    margin-top: 10px;
}

.services__block p {
    font-size: 16px;
    font-family: 'Bitter', arial;
    margin-top: 0;
}

.services__block p:first-of-type {

}

.services__item {
    margin-top: 0vh;
}

/* Helpful */

.helpful {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
    min-height: 100vh;
}

.helpful__block{
    flex-basis: 100vh;
    width: 60%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

.helpful__block h1 {
    font-size: 40px;
    margin-top: 40px;
    border-bottom: 2px solid #555;
}

.helpful__block h2 {
    margin-top: 10px;
}

.helpful__block p {
    font-size: 16px;
    font-family: 'Bitter', arial;
    margin-top: 0;
}

.helpful__block p:first-of-type {

}

.helpful__item {
    margin-top: 0vh;
}

.helpful li {
    font-family: 'Bitter', arial;
}

/* Manual*/

.manual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
    min-height: 100vh;
}

.manual__block{
    flex-basis: 100vh;
    width: 60%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

.manual__block h1 {
    font-size: 40px;
    margin-top: 40px;
    border-bottom: 2px solid #555;
}

.manual__block h2 {
    margin-top: 10px;
}

/*.manual__block p {*/
    /*font-size: 16px;*/
    /*font-family: 'Bitter', arial;*/
    /*margin-top: 0;*/
/*}*/

.manual__block p:first-of-type {

}

.manual__item {
    position: relative;
    margin: 5px;
    display: inline-flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    background: #eee;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.manual li {
    font-family: 'Bitter', arial;
}

/* Report */

.report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
    min-height: 100vh;
}

.report__block {
    flex-basis: 100vh;
    width: 60%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

.report__block h1 {
    font-size: 40px;
    margin-top: 40px;
    border-bottom: 2px solid #555;
}

.report__block h2 {
    margin-top: 10px;
}

.report__block p {
    font-size: 16px;
    font-family: 'Bitter', arial;
    margin-top: 0;
}

.report li {
    font-family: 'Bitter', arial;
}

/*.report__block p:first-of-type {*/
    /*font-style: italic;*/
/*}*/

.report__item {
    margin-top: 0vh;
}

.report__item h3 {
    margin: 0;
}

.report__file {
    display: flex;
    align-items: center;
}

.report__file:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    line-height: normal;
    background: url(/img/menu.png);
    background-position: -144px 0px;
    margin-right: 5px;
}

.report__gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.report__image {
    width: 12vw;
    height: auto;
}

/* Gallery */

.gallery {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    flex-basis: 80%;
    min-height: 100vh;
}

.gallery__block {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

.gallery__block h1 {
    font-size: 40px;
    margin-top: 40px;
    border-bottom: 2px solid #555;
    width: 100%;
}

.gallery__block h2 {
    margin-top: 10px;
}

.gallery__block p {
    font-size: 16px;
    font-family: 'Bitter', arial;
    margin-top: 0;
}

.gallery__block p:first-of-type {
    font-style: italic;
}

/*.gallery__container {*/

/*}*/

.gallery__item {
    position: relative;
    margin: 5px;
    display: inline-flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    background: #eee;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.gallery__item p {
    position: absolute;
    width: 100%;
    margin: 0;
    text-align: center;
    line-height: 0;
    bottom: 15px;
}

.gallery__item:hover {
    opacity: 0.7;
}

.gallery__item h3 {
    margin: 0;
}

.gallery__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.gallery__file {
    display: flex;
    align-items: center;
}

.gallery__file:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    line-height: normal;
    background: url(/img/menu.png);
    background-position: 0 0;
    margin-right: 5px;
}

/* Header */

/*.header {*/
    /*height: calc(100vh);*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    /*border-bottom: 5px solid transparent;*/
    /*border-image: linear-gradient(to left, #9400d3, #00008b, #00f, #008000, #ffd700, #ffa500, #f00);*/
    /*border-image-slice: 1;*/
    /*box-sizing: border-box;*/
/*}*/

/*.header h1 {*/
    /*position: relative;*/
    /*text-align: center;*/
    /*width: 50%;*/
    /*margin-top: 200px;*/
    /*letter-spacing: 2px;*/
    /*font-size: 1.6vw;*/
    /*font-weight: normal;*/
    /*outline: none;*/
    /*box-shadow: #fff 0 0 20px 20px;*/
    /*color: #555;*/
    /*background: #fff;*/
    /*display: inline-block;*/
    /*padding: 0.3em 0.6em;*/
    /*border: 3px solid transparent;*/
    /*border-image: linear-gradient(135deg, #9400d3, #00008b, #00f, #008000, #ffd700, #ffa500, #f00);*/
    /*border-image-slice: 1;*/
/*}*/


/*.header__combiner {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*position: absolute;*/
    /*bottom: 0;*/
/*}*/

/*.header__button {*/
    /*margin-bottom: 25px;*/
    /*padding: 10px;*/
    /*font-size: 20px;*/
    /*color: #fff;*/
    /*outline: none;*/
    /*border-radius: 30px;*/
    /*display: none;*/
    /*width: 250px;*/
    /*text-transform: uppercase;*/
    /*border: 2px solid #f64c2b;*/
    /*box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em #800;*/
    /*background: linear-gradient(#fb9575, #f45a38 48%, #f00 52%, #f02f17);*/
/*}*/


/* About */

.about h2 {
    color: #fff;
    text-align: center;
}

.about > div {
    max-width: 70%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border: #00008b solid 5px;
    padding: 40px;
    background-color: #fff;
    border-radius: 30px;
}

.about__container {
    text-align: center;
}


#about:before {
    display: block;
    content: "";
    height: 100px;
    margin: -100px 0 0;
}

/* Navigation mobile */

.navigation-mobile {
    z-index: 4;
    display: none;
    background-color: #fff;
    position: fixed;
    top: 0;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
    overflow: auto;
    text-align: center;
}

.navigation-mobile--active {
    display: flex;
    flex-direction: row;

}

.navigation-mobile__list {
    margin-top: 20vh;
    padding: 0;

}

.navigation-mobile__list li {
    list-style: none;
}

.navigation-mobile__list li a {
    padding: 5px;
    font-size: 30px;
    text-decoration: none;
}

.navigation-mobile__list li a:hover {
    padding: 5px;
    color: #555;
}

.navigation-mobile__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px;
    background: none;
    border: none;
    display: flex;
    outline: none;
}

.navigation-mobile__close img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* Footer */

.footer {
    margin-top: 50px;
}

.footer p {
    text-align: center;
}

/* Spoiler */

.spoiler-wrap {

}

.spoiler-head {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    background: #ffc800;
}

.spoiler-head:hover {
    opacity: 0.8;
}

.spoiler-head p {
    margin: 0;
    font-family: unset;
}

.folded:before {
    position: absolute;
    left: 10px;
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    line-height: normal;
    background: url(/img/menu.png);
    background-position: -96px 0px;
}

.unfolded:before {
    position: absolute;
    left: 10px;
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    line-height: normal;
    background: url(/img/menu.png);
    transform: rotate(180deg);
    background-position: -96px 0px;
}

.spoiler-body {
    display: none;
    /*padding: 10px;*/
    background: #fff;
    color: #000;
}

.spoiler-body img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.spoiler-body p {
    font-size: 16px;
    font-family: 'Bitter', arial;
    /*margin: 10px;*/
}

/* Pdf-link */

.pdf-link {
    display: block;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    background: #FFB300;
    width: 100%;
    border: none;
    box-sizing: border-box;
}

.pdf-link:before {
    position: absolute;
    left: 10px;
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    line-height: normal;
    background: url(/img/menu.png);
    background-position: -144px 0px;
}

/*.pdf-link:after {*/
    /*position: absolute;*/
    /*right: 10px;*/
    /*content: 'PDF, 1MB';*/
    /*display: inline-block;*/
    /*width: 120px;*/
    /*height: 24px;*/
    /*vertical-align: middle;*/
    /*line-height: normal;*/
    /*font-family: 'Bitter', arial;*/
    /*color: #000;*/
    /*text-align: right;*/
/*}*/

.pdf-size {
    position: absolute;
    margin: 0;
    right: 10px;
    content: 'PDF, 1MB';
    display: inline-block;
    width: 120px;
    vertical-align: middle;
    line-height: normal;
    font-family: 'Bitter', arial;
    color: #000;
    text-align: right;
}

.pdf-link:hover {
    opacity: 0.8;
}

/* Table */

/*.service__table-container {*/
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    /*box-sizing: border-box;*/
/*}*/

/*.services__table {*/
    /*max-width: 100%;*/
    /*border-collapse: collapse;*/
    /*word-break: break-word; !* КРАТЧ В ДВУХ МЕСТАХ (Таблица не вмещается)*!*/
/*}*/

/*.services__table-item {*/
    /*width: calc(100%/3);*/
    /*text-align: center;*/
    /*padding: 10px;*/
    /*border: 1px solid #d0d0d0;*/
    /*font-weight: normal;*/
    /*box-sizing: border-box;*/
/*}*/

/*.services__table-headers .services__table-item {*/
    /*background: #1A1A1A;*/
    /*color: #fff;*/
/*}*/

/*.services__table-rows .services__table-item {*/
    /*background: #fff;*/
    /*color: #000;*/
/*}*/

/*.services__table-item:hover {*/
    /*background: #ffc800;*/
/*}*/

/* Table */

.table-wrap {
    /*text-align: center;*/
    display: inline-block;
    background-color: #fff;
    color: #000;
    width: 100%;
}

table {
    border: 1px solid #ccc;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
    white-space: pre-wrap;
    word-break: break-word;
    table-layout: fixed;
}

table tr {
    border: 1px solid #ddd;
    padding: 5px;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

table th:hover, table td:hover {
    background: #ffc800;
    color: #fff;
}

table th {
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    font-weight: normal;
    /*font-size: 14px;*/
    /*letter-spacing: 1px;*/
}

.toggle {
    display: none;
    position: fixed;
    left: 10px;
    top: 10px;
    width: 53px;
    height: 53px;
    background-image: url(/img/sidebar_toggle.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    z-index: 2;
}

.toggle--close {
    background-position: right center;
}

/* Media */

@media screen and (min-width: 1280px) {

    .navigation__switch {
        display: none;
    }

}

@media only screen and (max-width: 1200px) {

    .main {
        flex-direction: column;
    }

    .toggle {
        display: block;
    }

    .translate1 {
        transform: translateX(0) translateY(0) translateZ(0);
        transition-duration: 500ms;
    }

    .translate2 {
        transform: translateX(300px) translateY(0) translateZ(0);
        transition-duration: 500ms;
    }

    .primary {
        display: none;
    }

    .news__block h2 {
        font-size: 18px;
        text-align: center;
    }


    .navigation__list {

    }

    .navigation__menu {

    }

    .navigation__menu a {
        /*padding: 15px;*/
    }

    .services__table-item {
        width: 100%;
        display: block;
        border: 0;
        border-left: solid 1px #d0d0d0;
        border-right: solid 1px #d0d0d0;
        border-bottom: solid 1px #d0d0d0;
    }

    .report__image {
        width: 16vw;
    }

    .gallery__item {
        width: 200px;
        height: 200px;
        margin: 10px;
    }

    .gallery__image {
        width: 150px;
        height: 150px;
    }

    .spoiler-head {
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        word-break: break-word;
    }

    .spoiler-head p {
        font-size: 14px;
    }

    .folded:before {
        position: unset;
    }

    .unfolded:before {
        position: unset;
    }

    .pdf-link {
        height: 104px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 14px;
    }

    .pdf-link:before {
        position: unset;
    }

    .pdf-link .pdf-size {
        position: unset;
        text-align: left;
        font-size: 12px;
        font-weight: bold;
    }

    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tr {
        margin-bottom: 10px;
        padding: 0;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    table td {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
        border: none;
        border-bottom: 1px dotted #ccc;
        /*word-break: break-word;*/
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        margin-bottom: 10px;
        content: attr(data-label);
        color: #fff;
        background: #000;
        text-transform: uppercase;
        font-weight: bold;
    }

    table td:hover:before {
        margin-bottom: 10px;
        content: attr(data-label);
        color: #000;
        background: #fff;
        text-transform: uppercase;
        font-weight: bold;
    }
}

@media screen and (max-width: 800px) {

    .spoiler-head p {
        font-size: 12px;
    }

    .pdf-link {
        font-size: 12px;
    }
}


